{% extends 'layout/default.html.twig' %}

{% block pageTitle %}Teachers index{% endblock %}

{% block title  %}Teachers{% endblock %}

{% block breadcrumb %}Teachers{% endblock %}

{% block content %}
    <p> 
		<a class="btn btn-sm btn-primary" href="{{ path('teacher_new') }}">Create new</a>
	</p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th>Birthday</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
            <tr>
                <td>{{ teacher.id }}</td>
                <td>{{ teacher.name }}</td>
                <td>{{ teacher.phone }}</td>
                <td>{{ teacher.email }}</td>
                <td>{{ teacher.address }}</td>
                <td>{{ teacher.birthday ? teacher.birthday|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('teacher_show', {'id': teacher.id}) }}">show</a>
                    <a href="{{ path('teacher_edit', {'id': teacher.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
