{% extends 'layout/default.html.twig' %}

{% block pageTitle %}Categories{% endblock %}

{% block title  %}List{% endblock %}

{% block breadcrumb %}Categories{% endblock %}

{% block content %}
	<p> 
		<a class="btn btn-sm btn-primary" href="{{ path('category_new') }}">Create new</a>
	</p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>
                    <a class="btn btn-sm btn-secondary" href="{{ path('category_show', {'id': category.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i> Show</a>
					<a class="btn btn-sm btn-warning text-light" href="{{ path('category_edit', {'id': category.id}) }}"><i class="fa fa-pencil-square" aria-hidden="true"></i> Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}