{{ form_start(form) }}
    <div class="col-12">
        <div class="form-group">
            {{ form_row(form.category, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_row(form.price, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_row(form.photo, {'attr': {'class': 'form-control'}}) }}
        </div>
        <a class="btn btn-sm btn-default" href="{{ path('product_index') }}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to list</a>

        <button class="btn btn-sm btn-primary">{{ button_label|default('Save') }}</button>
    </div>

{{ form_end(form) }}