{% extends 'layout/default.html.twig' %}

{% block pageTitle %}Products{% endblock %}

{% block title  %}Products{% endblock %}

{% block breadcrumb %}Products{% endblock %}

{% block content %}
	<p> 
		<a class="btn btn-sm btn-primary" href="{{ path('product_new') }}">Create new</a>
	</p>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Photo</th>
				<th>Price</th>
				<th>Description</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
		{% for product in products %}
			<tr>
				<td>{{ product.id }}</td>
				<td>
					{% if product.photo is not null %}
						<img src="/uploads/photos/{{product.photo }}" width="100px;" />
					{% endif %}
				</td>
				<td>{{ product.name }}</td>
				<td>{{ product.price }}</td>
				<td>{{ product.description }}</td>
				<td>
					<a class="btn btn-sm btn-secondary" href="{{ path('product_show', {'id': product.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i> Show</a>
					<a class="btn btn-sm btn-warning text-light" href="{{ path('product_edit', {'id': product.id}) }}"><i class="fa fa-pencil-square" aria-hidden="true"></i> Edit</a>
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="5">no records found</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}