{% extends 'layout/default.html.twig' %}

{% block pageTitle %}Users{% endblock %}

{% block title  %}Users{% endblock %}

{% block breadcrumb %}Users{% endblock %}

{% block content %}
	<p> 
		<a class="btn btn-sm btn-primary" href="{{ path('user_new') }}">Create new</a>
	</p>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Id</th>
				<th>Email</th>
				<th>FullName</th>
				<th>Phone</th>
				<th>Roles</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
		{% for user in users %}
			<tr>
				<td>{{ user.id }}</td>
				<td>{{ user.email }}</td>
				<td>{{ user.fullName }}</td>
				<td>{{ user.phone }}</td>
				<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
				<td>
					<a class="btn btn-sm btn-secondary" href="{{ path('user_show', {'id': user.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i> Show</a>
					<a class="btn btn-sm btn-warning text-light" href="{{ path('user_edit', {'id': user.id}) }}"><i class="fa fa-pencil-square" aria-hidden="true"></i> Edit</a>
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="7">no records found</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}