{% extends 'layout/default.html.twig' %}

{% block pageTitle %}User detail{% endblock %}

{% block title  %}User detail{% endblock %}

{% block breadcrumb %}User detail{% endblock %}

{% block content %}
    <table class="table table-boredered">
        <tbody>
            <tr>
                <th width="20%">Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>FullName</th>
                <td>{{ user.fullName }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-sm btn-default" href="{{ path('user_index') }}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to list</a>
    <a class="btn btn-sm btn-warning text-light" href="{{ path('user_edit', {'id': user.id}) }}"><i class="fa fa-pencil-square" aria-hidden="true"></i> Edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
